@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|Mrs+Saint+Delafield|Norican|Tangerine&display=swap');
a {
  color: #F16A8A;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.aboutme {
  max-width: 850px;
  margin: 0 auto;
  padding: 0px 0 60px;
}
#aboutmeContent {
  color: #000;
  padding: 25px;
}
#block {
  margin: 5px 0;
}
body {
  color: #000;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}
#center {
  display: flex;
  justify-content: center;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
#contacts {
  min-width: 300px;
}
.container {
  max-width: 1000px;
  min-width: 200px;
  margin: 0;
}
.containerCS {
  margin-left: 15px;
  margin-right: 100px;
  width: 300px;
  padding: 35px;
  border: grey;
  padding: 50px;
  border-style: groove;
}
#content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 0 60px;
}
.dynamic-btn {
  border-color: #F16A8A;
  color: #F16A8A;
  border: 2px solid #F16A8A;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}
.dynamic-btn:hover {
  font-weight: bold;
}
.dynamic-btn:active {
  background: #F16A8A;
  color: white;
}
.f {
  max-width: 100%;
  max-height: 100vh;
  bot
}
.fa {
  color: white;
  font: arial;
  text-align: right;
  width: 120%;
}
.fb-page {
  /*margin: auto 0;*/
}
#ficon {
  margin-right: 5px;
}
#footer {
  background-color: #F26385;
  min-height: 250px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.FooterColumn {
  min-width: 200px;
}
.footer-word {
  text-align: right;
  display: inline;
}
h3 {
 text-align: center;
 font-size: 25px;
 color: #F16A8A;
}
h4 {
  text-align: center;
}
/*hr {
  border: 1px solid #F16A8A;
  border-radius: 0.5px;
} */
#header {
  background-color: white;
  height: 130px;
  line-height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#header a {
  color: #000;
  text-decoration: none;
  /*letter-spacing: 0.1em;*/
  }
#header a:hover {
  cursor: pointer;
  }
#header-nav {
  margin: 10px auto 0;
  padding: 0;
  width: 700px;
  float: right;
  margin-top: 0;
}
#header-nav li {
  display: inline;
  padding-left: 5px;
}
.imgh3 {
  margin-top: 10px;
}
#inline {
  display: inline-block;
  margin-top: 0;
}
.mainbtn {
  border-color: #F16A8A;
  color: #F16A8A;
  border: 2px solid #F16A8A;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
}
#nav-item {
  display: flex;
  position: relative;
  padding: 5px 0;
}
#number {
  font-family: 'arial';
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #F16A8A;
  padding: 50px 75px;
  border: none;
  float: right;
}
p {
  line-height: 1.5;
}
#pad {
  padding: 16px;
}
.pink {
  color: #F16A8A;
  border: 2px solid #F16A8A;
}
.pl {
  font-size: 20px;
}
.post {
  max-width: 300px;
  margin: 0 auto;
  padding: 60px 0;
}
.price {
  display: inline;
  margin-left: 30px;
  color: #F16A8A;
  text-decoration: none;
}
.row {
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 2%;
  color: #000;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 1px 1px 4px grey;
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1em;
  color: #000;
  display: block;
  transition: 0.3s;
}
/*.sidepanel a:hover {
  color: ##F16A8A;
}*/
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
#sleek {
  color: #F16A8A;
  text-decoration: none;
  letter-spacing: 0.10em;
  padding: 15px 5px;
  margin: 0 5px;
  position: relative;
}
#desk {
  max-height: 300px;
  margin: 0 auto;
}
#sleek:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #F16A8A;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#sleek:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
	#header-nav {
		margin-top: 40px;
	}
}
th, td {
  padding: 6px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
#nincs {
  display: none;
}
@media screen and (max-height: 300px) {
	#header-nav {
		margin-top: 40px;
	}
}
@media screen and (max-width: 600px) {
  .column {
    margin-bottom: 20px;
    width: 85%;
    display: block;
  }
}
@media screen and (min-width:931px) {
  #mySidepanel {
    display: none;
  }
  .openbtn {
    display: none;
  }
}
@media screen and (max-width:931px) {
  #header-nav {
    display: none;
  }
  #footer {
  }
}
